:root {
  --primary-color: rgb(10, 49, 133);
  --success-color: rgb(13, 97, 13);
  --danger-color: rgb(185, 6, 6);
  --information-color: rgb(46, 43, 43);
  --secondary-color: rgb(211, 211, 211);
  --white-color: rgb(255, 255, 255);
  --dark-color: rgb(131, 131, 131);
  --black-color: rgb(58, 58, 58);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  /* background-color: var(--secondary-color); */
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: var(--white-color);
  text-decoration: none;
  display: block;
}

.btn {
  padding: 10px 20px;
  text-align: center;
}

.btn-main {
  min-width: 120px;
  margin: 10px;
  background-color: var(--primary-color);
}
